%tr
  %td= report.date
  %td= report.user.name
  %td= report.body
  %td= link_to 'Show', report, :class => 'btn'
  %td= link_to 'Edit', edit_report_path(report), :class => 'btn'
  %td= link_to 'Destroy', report, :class => 'btn', :confirm => 'Are you sure?', :method => :delete
