= content_tag_for(:section, @report) do
  .page-header
    %h1
      = image_tag(@report.user.icon, :width => 26, :height => 26)
      = @report.user.name
      %small= "(#{@report.user.nickname})"
  %p= markdown(@report.body)
  %p
    %small
      %i.icon-time
      = @report.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M')
  .btn-group
    - if @report.user == current_user
      = link_to 'Edit', edit_report_path(@report), :class => 'btn'
    = link_to 'Back', reports_path, :class => 'btn'

%section
  .page-header
    %h1 Comments
  .row-fluid
    .span6
      %section
        - if @report.comments.present?
          = render @report.comments
        - else
          %p まだコメントはありません
    .span6
      = render 'comments/form'
