<!DOCTYPE html>
<html>
<head>
  <title>Nipoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <p>Hello, <%= current_user.name %>!</p>
    <%= yield %>
  <% else %>
    <%= link_to 'Login', :login %>
  <% end %>

</body>
</html>
