<!DOCTYPE html>
<html>
<head>
  <title>Nipoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Nipoo!</a>
        <ul class="nav">
          <li <%= "class=active" if current_page?(:root) || current_page?(:reports) %>>
            <%= link_to 'Reports', :reports %>
          </li>
          <li <%= "class=active" if current_page?(:new_report) %>>
            <%= link_to 'New Report', :new_report %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if logged_in? %>
            <li><%= link_to 'Logout', :logout %></li>
          <% else %>
            <li><%= link_to 'Login', :login %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <% if flash[:notice].present? %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div id="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if logged_in? %>
      <%= yield %>
    <% else %>
      <p><%= link_to 'Login', :login, :class => 'btn' %></p>
    <% end %>

  </div>
</body>
</html>
